.button-no-background {
    -fx-background-color: transparent; /* Remove background color */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: transparent; /* Remove border color */
    -fx-border-width: 0; /* Remove border width */
    -fx-text-fill: #C2E7E3; /* Set text color */
    -fx-font-size: 14px;
    font-weight: bold;
    /* Set font size */
}

.label {
    -fx-text-fill: #C2E7E3;
}
.error-border {
    -fx-border-color: red;
    -fx-border-width: 2px;
}