.Login-background {
    -fx-background-image: url('/Images/Backgrounds/witcherBackground.jpg');
    -fx-background-size: cover;
}


.menu-background {
    -fx-background-image: url('/Images/Backgrounds/deckBackground.jpg');
    -fx-background-size: cover;
}

.Sign-Up-background {
    -fx-background-image: url('/images/Backgrounds/123.png');
    -fx-background-size: cover;
}

.MainMenu-background {
    -fx-background-image: url('/Images/Backgrounds/MainMenuBackground.jpg');
    -fx-background-size: cover;
}

.button-no-background {
    -fx-font-size: 16px;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-color: transparent; /* Remove background color */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: transparent; /* Remove border color */
    -fx-border-width: 0; /* Remove border width */
    -fx-text-fill: #C2E7E3; /* Set text color */
    font-weight: bold;
    -fx-cursor: hand; /* Change cursor to hand */

    /* Set font size */
}

.label {
    -fx-text-fill: #C2E7E3;
    -fx-font-family: "Cambria"; /* Font family */
}

.error-border {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.error-label {
    -fx-text-fill: #a80303;
    -fx-font-family: "Cambria"; /* Font family */
}

.Box{
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #C2E7E3;
    -fx-background-color: rgb(71, 107, 101,0.5);
}

.Question-Box{
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #F8EECB;
    -fx-background-color: rgb(248, 238, 203,0.4);
}

.label.yellow {
    -fx-font-family: "Cambria"; /* Font family */
    -fx-text-fill: rgba(133, 110, 53, 0.99);
}

.text-field {
    -fx-pref-idth: 190px; /* Set preferred width for button2 */
    -fx-pref-height: 35px; /* Set preferred height for button2 */
    -fx-font-size: 16px;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-color: rgb(52, 91, 83); /* Background color */
    -fx-text-fill: #a6c9c2; /* Text color (black) */
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-prompt-text-fill: #a6b9b4; /* Prompt text color (tomato) */
}
.text-field:focused {
    /*-fx-pref-width: 190px; !* Set preferred width for button2 *!*/
    /*-fx-pref-height: 35px; !* Set preferred height for button2 *!*/
    -fx-font-size: 16px;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-border-width: 2px;
    -fx-border-color: #C2E7E3; /* Border color when focused (tomato) */
}

.button-regular{
    -fx-pref-width: 98px;
    -fx-pref-height: 13px;
    -fx-font-size: 16px;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-border-radius: 5px;
    -fx-background-color: rgb(194, 231, 227,0.5); /* Background color */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: #C2E7E3; /* Remove border color */
    -fx-border-width: 3px; /* Remove border width */
    -fx-text-fill: #3D5954FF; /* Set text color */
    font-weight: bold;
    -fx-cursor: hand; /* Change cursor to hand */

}

.button-regular:hover{
    -fx-pref-width: 98px; /* Set preferred width for button2 */
    -fx-pref-height: 13px; /* Set preferred height for button2 */
    -fx-font-size: 16px;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-color: rgb(194, 231, 227,1); /* Remove background color */
    -fx-text-fill: #3D5954FF; /* Set text color */
    font-weight: bold;
    -fx-cursor: hand; /* Change cursor to hand */

}

.label-header{
    -fx-effect: dropshadow( gaussian , rgb(179, 217, 209,0.75), 10,0,0,1 );

}


/* Default style for ImageView */
.back {
    -fx-effect: dropshadow( gaussian , rgb(179, 217, 209,0.75), 10,0,0,1 );
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-scale-x: 1; /* Default scale */
    -fx-scale-y: 1; /* Default scale */
    -fx-cursor: hand; /* Change cursor to hand */
}

/* Hover effect for ImageView */
.back:hover {
    -fx-scale-x: 1.1; /* Scale the image width by 1.5 */
    -fx-scale-y: 1.1; /* Scale the image height by 1.5 */
}

/* Enlarged effect for ImageView */
.back.enlarged {
    -fx-scale-x: 1.1; /* Scale the image width by 1.5 */
    -fx-scale-y: 1.1; /* Scale the image height by 1.5 */
}


.move {
    -fx-effect: dropshadow( gaussian , rgb(248, 238, 203,0.75), 10,0,0,1 );
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-scale-x: 1; /* Default scale */
    -fx-scale-y: 1; /* Default scale */
    -fx-cursor: hand; /* Change cursor to hand */
}

/* Hover effect for ImageView */
.move:hover {
    -fx-scale-x: 1.1; /* Scale the image width by 1.5 */
    -fx-scale-y: 1.1; /* Scale the image height by 1.5 */
}

/* Enlarged effect for ImageView */
.move.enlarged {
    -fx-scale-x: 1.1; /* Scale the image width by 1.5 */
    -fx-scale-y: 1.1; /* Scale the image height by 1.5 */
}

menu-scroll-pane {
    -fx-background-color: transparent; /* Remove background color */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: transparent; /* Remove border color */
}

.menu-scroll-pane .viewport {
    /*-fx-background-color: transparent; !* Remove background color *!*/
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: #f8eecb; /* Remove border color */
    -fx-border-width: 2px; /* Remove border width */

    -fx-background-color: #31261D;
}

.menu-scroll-pane.scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}


.Something {
    -fx-border-color: #f8eecb; /* Remove border color */
    -fx-border-width: 1px; /* Remove border width */
}

.pane-menu {
    /*-fx-effect: dropshadow(gaussian, rgb(248, 238, 203), 30, 0, 0, 0);*/
    -fx-background-color: rgb(49, 38, 29, 0.7);
    -fx-border-color: #f8eecb; /* Remove border color */
    -fx-border-radius: 9;
}

.description{
    -fx-background-color: rgb(49, 38, 29, 0.7);
    -fx-border-color: #f8eecb; /* Remove border color */
    -fx-border-width: 2px; /* Remove border width */
    -fx-border-radius: 9;
}

.brown-box {
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #C2E7E3;
    -fx-background-color: rgb(49, 38, 29, 0.8);
}

.card-change{
    -fx-effect: dropshadow( gaussian , rgb(248, 238, 203), 20,0,0,1 );
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-background-radius: 35;
    -fx-background-insets: 35;
    -fx-scale-x: 1; /* Default scale */
    -fx-scale-y: 1; /* Default scale */
}

.card-change > .image-view{
    -fx-background-radius: 35;
}

pre-scroll-pane {
    -fx-text-fill: #f8eecb;
    -fx-font-family: "Cambria"; /* Font family */
    -fx-background-color: transparent; /* Remove background color */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: transparent; /* Remove border color */
}
.label-color{
    -fx-effect: dropshadow( gaussian , rgb(248, 238, 203), 5,0,0,1 );
    -fx-text-fill: #f8eecb;
}

.pre-scroll-pane .viewport {
    -fx-text-fill: #f8eecb;
    -fx-font-family: "Cambria"; /* Font family */
    /*-fx-background-color: transparent; !* Remove background color *!*/
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-color: #f8eecb; /* Remove border color */
    -fx-border-width: 2px; /* Remove border width */

    -fx-background-color: #31261D;
}

.pre-scroll-pane.scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}